*{
    padding: 0%;
    margin: 0%;
}
.wrapprtyeryer{
    color:
    #346734
    #1A5632
    #AFA52E
    #7CC242
    #035E31 ;
}
@font-face {
    font-family: font1;
    src: url(/assets/fonts/MIKELALIGHT.TTF);
}


@font-face {
    font-family: font2;
    src: url(/assets/fonts/Brandon_reg.otf);
}
@font-face {
    font-family: font3;
    src: url(/assets/fonts/BebasNeue.otf);
}

.about{

}
.about h1 {
    font-family: font1;
    font-size: 46px;
    padding: 40px 0px 0px 0px;
    color:     #1A5632;
}

p {
    font-family: font2;
}

#more {
    display: none;
}


.about {
    margin: 0px 0px 0px 0px;
}

#readbtn{
        background:none;
        border:none;
        font-family: font2;
        cursor: pointer;
       
}



.collection h1{
    font-family: font1;
    font-size: 46px;
    padding: 50px 0px 40px 0px;
    color:     #1A5632;


}




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* body{
  display: flex;
  padding: 0 35px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #343F4F;
} */
.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}


/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #fffffff1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 60px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  /* .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
   */
  /* Position the "next button" to the right */
  /* .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
   */
  /* On hover, add a black background color with a little bit see-through */
  /* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;

  } */
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
      display: none;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: #AFA52E ;
}

.testimonials h1{
    font-family: font1;
    font-size: 46px;
    padding: 50px 0px 0px 0px;
    color:     #1A5632;


}







